/* Generic CSS for the page */

.center {
  text-align: center
}

.font {
  font-family: Courier;
}

.start_button {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #189b2c;
  border-color: #189b2c;
  border-radius: 8px;
  color: A71A62;
  font-size: 30px;
}

.reset_button {
  padding: 10px;
  background-color: yellow;
  border-color: yellow;
  border-radius: 8px;
  font-size: 30px;
}

/* CSS for the web Page */

body {
  background-color: #648ed1;
}

h1 {
  text-transform: uppercase;
}

main {
  display: flex;
  flex-direction: row;
}

main > div {
  border: 2px solid green;
  height: 500px;
  width: 400px;
}

/* CSS for Noose Area */

.noose_area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  background-image: url('../img/noose.jpg');
  width: 600px;
}

h2 {
  margin-top: -2px;
}

.head {
  margin-left: 10px
  width: 120px;
  height: 105px;
  grid-column: 3/4;
  grid-row: 2/3;
  align-items: center;
  justify-content: center;
  display: inline;
}

.body {
  width: 110px;
  height: 125px;
  grid-column: 3/4;
  grid-row: 3/4;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.l_arm {
  margin-top: 10px;
  grid-column: 4/5;
  grid-row:3/4;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.r_arm {
  grid-column: 2/3;
  grid-row: 3/4;
  margin-left: 10px;
}

/* CSS for value area */

.value_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* CSS for used word area */

.userArea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border: 3px solid black;
}

td {
  padding: 8px;
  border: 1px solid black;
}


