body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main_container {
  height: 500px;
  width: 500px;
  background-color: #6793db;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  height: 50px;
  width: 50px;
}

.number_area_one {
  height: 50px;
  display: flex;
  flex-direction: row;
}

.number_area_two {
  height: 50px;
  display: flex;
  flex-direction: row;
}

.number_area_three {
  height: 50px;
  display: flex;
  flex-direction: row;
}

.number_area_four {
  height: 50px;
  display: flex;
  flex-direction: row;
}

.eql_btn {
  width: 150px;
}

input {
  height: 50px;
  width: 195px;
}
