/******************************
This file will contain all the CSS code for 
the mole game 
*******************************/

/******************************
Generic CSS for entire page
*******************************/

body, html {
  height: 100%;
}

body {
  margin-left: 5%;
  margin-right: 5%;
}

* {
  box-sizing: border-box;
}

.center {
  text-align: center;
}

/******************************
CSS for header section
*******************************/

#title_section {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/******************************
CSS for game area section
*******************************/

#game_area {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
}

div {
  border: 2px solid green;
}




/******************************
CSS for the footer
*******************************/

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}